* {
    margin: 0;
}

body {
    background-image: url('fon.jpg');
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(46, 53, 58);
    height: 62px;

}

.header1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header_name {
    background-color: rgb(46, 53, 58);
    color: rgb(205, 216, 228);
    margin-left: 100px;
}

.cart {
    display: flex;
    /* justify-content: end; */
}

.by-btn {
    margin-right: 20px;
    display: inline-block;
    font-family: arial, sans-serif;
    font-size: 11px;
    color: rgb(205, 216, 228);
    text-shadow: rgb(46, 53, 58) 0px -1px;
    user-select: none;
    line-height: 2em;
    box-shadow: rgb(101, 114, 126) 0px 1px inset, rgba(140, 150, 170, 0.8) 0px 0px 1px inset, rgb(83, 94, 104) 0px 1px, rgb(86, 96, 106) 0px 0px 1px;
    text-decoration: none;
    padding: 1px 1.2em;
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(33, 43, 52);
    border-image: initial;
    border-radius: 3px;
    background: linear-gradient(rgb(81, 92, 102), rgb(69, 78, 87)) rgb(81, 92, 102);
    width: 100px;
}

.by-btn:active {
    box-shadow:
        inset 0 1px 3px rgba(0, 10, 20, .5),
        0 1px rgb(83, 94, 104),
        0 0 1px rgb(86, 96, 106);
}

.btn-basket {
    margin-right: 20px;
    display: inline-block;
    font-family: arial, sans-serif;
    font-size: 11px;
    color: rgb(205, 216, 228);
    text-shadow: rgb(46, 53, 58) 0px -1px;
    user-select: none;
    line-height: 2em;
    box-shadow: rgb(101, 114, 126) 0px 1px inset, rgba(140, 150, 170, 0.8) 0px 0px 1px inset, rgb(83, 94, 104) 0px 1px, rgb(86, 96, 106) 0px 0px 1px;
    text-decoration: none;
    padding: 1px 1.2em;
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(33, 43, 52);
    border-image: initial;
    border-radius: 3px;
    background: linear-gradient(rgb(81, 92, 102), rgb(69, 78, 87)) rgb(81, 92, 102);
    width: 125px;
    height: 30px;
}

.btn-basket:active {
    box-shadow:
        inset 0 1px 3px rgba(0, 10, 20, .5),
        0 1px rgb(83, 94, 104),
        0 0 1px rgb(86, 96, 106);
}


.modal-basket {
    position: absolute;
    overflow-y: scroll;
    width: 300px;
    height: auto;
    min-height: 50px;
    max-height: 500px;
    background: floralwhite;
    top: 62px;
    border: 1px solid rgba(0, 10, 20, .5);
    border-radius: 12px 0px 12px 12px;

}

.invisible {
    display: none !important;
}

.modal_header {
    display: flex;
    justify-content: center;
}

.products {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    /* flex-wrap: wrap; */
}

.goods-item-basket {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 5px;
}

.goods-item-basket:nth-last-child(1) {
    margin-bottom: 10px;
    padding-right: 10px;
}

.rigth-block {
    display: flex;
    flex-direction: column;
}

.del-btn {
    width: 40px;
    border-radius: 10px 10px;
    background-color: rgb(46, 53, 58);
    color: wheat;
}

.items {
    display: flex;
    flex-direction: column;
}

.goods-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    margin-right: 10px;
    background: white;
}

.goods-item:nth-last-child(1) {
    margin-right: 0;
}

.desc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer {
    top: 75%;
    position: fixed;
}

.form-serch {
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 20px;
}

.btn-showCB {
    top: 70%;
    position: fixed;
}

.error-msg {
    color: red;
    margin: 10px 0;
}

.invalid {
    border: 2px solid red;
}

.valid {
    border: 2px solid green;
}